DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://yourdomain.com"
NEXT_PUBLIC_SITE_URL="https://yourdomain.com"
AUTH_URL="https://yourdomain.com"
AUTH_TRUST_HOST="true"
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_TO=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
